{% extends 'basee.html' %}

{% block title %}
Add report
{% endblock %}

{% block content %}


<div class="orders">
    <div class="row">
        <div class="col-xl-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Reports <a href="{% url 'add_report' %}"><button type="button" class="btn btn-success">+</button></a></h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DATE</th>
                                    <th>ACCOUNT</th>
                                    <th>CATEGORY</th>
                                    <th>PRICE</th>
                                    <th>PAYMENT METHOD</th>
                                    <th>DESCRIPTION</th>
                                    <th>OPTIONS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for report in reports %}
                                <tr>
                                    <td>{{ report.id }}</td>
                                    <td>{{ report.date }}</td>
                                    <td>{{ report.account }}</td>
                                    <td>{{ report.category }}</td>
                                    <td>{{ report.price }}</td>
                                    <td>{{ report.payment }}</td>
                                    <td>{{ report.description }}</td>
                                    <td><a href="{% url 'update_report' report.id %}"><button type="button" class="btn btn-info">Update</button></a></td>
                                    <td><a href="{% url 'delete_report' report.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                                </tr>   
                                {% endfor %}
                                </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
    </div>
</div>
<!-- /.orders -->

{% endblock %}