{% extends 'basee.html' %}

{% block title %}
Add Account
{% endblock %}

{% block content %}


<div class="orders">
    <div class="row">
        <div class="col-xl-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Accounts  <button type="button" class="btn btn-success">+</button></h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>OPTIONS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                <tr>
                                    <td>{{ account.id }}</td>
                                    <td>{{ account.name }}</td>
                                    <td><button type="button" class="btn btn-info">Update</button></td>
                                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                                </tr>   
                                {% endfor %}
                                </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
    </div>
</div>
<!-- /.orders -->

{% endblock %}